.wrapper {
    --search-border-radius: 88px;
    --search-height: 42px;
    --top-spacer: 7px;
    --button-size: 1.4rem;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    // background: rgba(11, 204, 148, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 29px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #17252A;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding-left: 30px;

}
.search {
    width: 600px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    border: 1.2px solid transparent;
    background: rgba(222, 242, 241, 0.3);
    height: var(--search-height);
    // background-color: white;
    padding-left:16px;
    border-radius: var(--search-border-radius);

    input {
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .searchButton {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        top: 6px;
        right: 50px;
        width: 2px;
        height: calc(var(--search-height) - var(--top-spacer)*2);
        background-color: rgba(236, 229, 229, 0.692);
    }

    &:focus-within {
        border-color: rgba(0, 0, 0, 0.2);
    }
}


.searchButton {
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: var(--button-size);
    color: rgba(43, 122, 120, 0.8);

    &:hover {
        cursor: pointer;
        background-color: rgba(236, 229, 229, 0.692);
    }

    &:active {
        background-color: rgba(43, 122, 120, 0.8);
    }
}

.searchTitle {
    padding: 5px 12px;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.actions {
    height: 42px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 30px;
}

.actionButton {
    font-size: var(--button-size);
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(43, 122, 120, 1);
    cursor: pointer;
}

.loginBtn{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 40px;
    top: calc(50% - 40px/2);
    align-items: center;
    justify-content: center;
    background: #3AAFA9;
    border-radius: 8px;
    border: none;
    
}

.btnFont{
    font-family:  'Inter', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: white;
}

.btnFont2{
    font-family:  'Inter', sans-serif;
    font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #6E6D7A;
}

.signInBtn{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 40px;
    top: calc(50% - 40px/2);
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    border: none;
}

.username {
    color: rgba(43, 122, 120, 1);
}