.sidebar {
    width: 4%;
    min-width: 4%;
    height: auto;
    color: rgba(43, 122, 120, 1);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // border-right: 1px solid rgba(0, 0, 0, 0.1);
    // filter: drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.5));

    transition: width 0.3s ease;
    & span {
        width: 0;
        height: 0;
        padding: 0 15px;
        transition: width 0.3s ease;
       
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & .page:hover {
        background-color: #3f5159;
        border-right: 5px #308f23 solid;
    }
}
.sidebar_open {
    width: 20%;
    transition: width 0.3s ease;
    & .page {
        & span {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}



.inner {
    margin-top: 2rem;
}

.page {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    
}