@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
.sidebar {
    width: 4%;
    min-width: 60px;
    height: auto;
    color: rgba(43, 122, 120, 1);
    margin: 0rem 2rem 0rem 1rem;
    font-family: 'Inter Tight', sans-serif;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // border-right: 1px solid rgba(0, 0, 0, 0.1);
    // filter: drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.5));

    transition: width 0.3s ease;
    & span {
        width: 0;
        height: 0;
        padding: 0 15px;
        transition: width 0.3s ease;
       
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & .page:hover {
        background-color: rgba(0, 0, 0, 5%);
        border-radius: 10px;
        // border-right: 5px #308f23 solid;
    }
}
.sidebar_open {
    width: 20%;
    transition: width 0.3s ease;
    & .page {
        & span {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}



.inner {
    margin-top: 2rem;
}

.page {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}