@import url('https://fonts.googleapis.com/css2?400&family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

:root {
    --color-dark: #17252a;
    --color-main: rgba(43, 122, 120, 1);
    --color-main2: rgb(21, 61, 60);
    --color-box-shadow: rgba(0, 0, 0, 0.25);
}

li {
    display: inline-block;
}

.prev-post {
    margin: 10px 30px 10px 30px;
}

.prev-post_container {
    height: 300px;
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 1px var(--color-box-shadow);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    padding: 15px;
    cursor: pointer;
}

.prev-post_cTitle {
    font-size: 25px;
    font-weight: 500;
    color: var(--dark-color);
    font-family: 'Inter Tight', sans-serif;
}

.prev-post_user {
    background: #FFFFFF;
    height: 70px;
    width: 400px;
    box-shadow: 0px 1px 4px var(--color-box-shadow);
    padding: 10px;
    font-size: 1.2rem;
    color: var(--color-dark);
}

.prev-post_cImage {
    max-width: 100%;
    max-height: 100%;
    margin-top: 5px;
}

.prev-post_uAvatar {
    width: 30px;
    border-radius: 100%;
    margin: 5px;
}

.prev-post_uInfo {
    display: inline-flex;
    align-items: center;
    width: 330px;
    font-weight: 600;
    cursor: pointer;
}

.prev-post_uStatus {
    display: inline-flex;
    align-items: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #3D3D4E;
}

.centerBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: none;
    border: none;
    background-color: white;
    font-size: 18px;
    margin: none;
    padding: none;
    cursor: pointer;
}

.prev-post_uIcon {
    margin-right: 3px;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}