.button1{
  position: fixed;
  left: 94%;
  top: 127px;
  width: 65px;
  height: 65px;
  z-index: 9;
}
.button2{
  position: fixed;
  left: 94%;
  width: 65px;
  height: 65px;
  z-index: 9;
  top: 231px;
}
.button1:hover, .button2:hover{
  opacity: 0.9;
}